streamlit
langchain==0.3.0
langchain-community==0.3.0
langchain-google-genai
langchain-groq
pinecone-client
sentence-transformers
pymupdf
python-dotenv
google-generativeai
openpyxl
python-docx
Pillow
langchain-pinecone==0.2.13