streamlit
langchain
langchain-community
langchain-google-genai
langchain-groq
pinecone
sentence-transformers
pymupdf
python-dotenv
google-generativeai
openpyxl
python-docx
Pillow
langchain-pinecone==0.0.1
langchain-classic

